.container
  .row
    .span8
      %h1 Listing games

      - @games.each do |game|
        %h2= game.title
        %p By #{game.creator.email}.
        %p= link_to "Play", game_path(game)
        - if current_user == game.creator
          %p= link_to 'Edit', edit_game_path(game)
          %p= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

      = link_to 'New Game', new_game_path, :class => 'btn btn-primary btn-large'
