= render :partial => 'game_ui'

-content_for :foot do
  -# Step 0: Config cartridge
  :javascript
    Cartridge.config({
      socketUrl: "ws://#{ENV['SOCKET_URL']}/game/#{@game.id}/singleton/#{@token}",
      userId: "#{@token}"
    })

  -# load user's js
  :javascript
    #{@game.package}
