= render :partial => 'game_ui'

- content_for :navbar do
  %ul.nav.pull-left
    - if @game.creator == current_user
      %li.edit-link
        = link_to 'edit this game', edit_game_path(@game)

- content_for :foot do
  -# load some game libs

  -# Step 0: Config cartridge
  :javascript
    Cartridge.config({
      socketUrl: "ws://#{ENV['SOCKET_URL']}/game/#{@game.id}/singleton/#{@token}",
      chatUrl:   "ws://#{ENV['SOCKET_URL']}/chat/#{@game.id}/singleton/#{@token}",
      userId: "#{@token}"
    })

  -# load Cartridge chrome js
  :javascript
    Cartridge.startUI();

  -# load user's js
  :javascript
    $(function () {
      try {
        #{@game.package}
      } catch (ex) {
      console.error(ex.message);
      }
    });
