= render :partial => 'game_ui'

- content_for :navbar do
  %ul.nav.pull-left
    - if user_signed_in?
      - if @game.creator == current_user
        %li= link_to 'edit this game', edit_game_path(@game)
      - elsif @game.remixable?
        %li= link_to 'remix this game', remix_game_path(@game), method: :post

- content_for :foot do
  -# load some game libs

  -# Step 0: Config cartridge
  = render :partial => 'cartridge_init'

  -# load user's js
  :javascript
    $(function () {
      try {
        #{@game.package}
      } catch (ex) {
        Cartridge.error(ex.message);
      }
    });
