!!! 5
%html
  %head
    %title Cartridge
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav.pull-right
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to('Logout', destroy_user_session_path, method: :delete)
            - else
              %li= link_to('Login', new_user_session_path)

    #wrapper
      = yield
      #footer-push

    #footer
      .container
        .row
          .span12
            &copy; 2012 - Adam and Nick

