!!! 5
%html
  %head
    %title Cartridge

    - if Rails.env.development?
      :javascript
        window.DEBUG = true;
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'Cartridge', root_path, class: 'brand'
          %ul.nav.pull-right
            %li
              = link_to 'Build a Game', new_game_path
            %li
              = link_to 'Games', games_path
            %li.divider-vertical
            - if user_signed_in?
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown'}
                  = current_user.username
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to('My Profile', edit_user_registration_path)
                  %li= link_to('Logout', destroy_user_session_path, method: :delete)
            - else
              %li= link_to('Login', new_user_session_path)

    #wrapper
      = yield
      #footer-push

    #footer
      .container
        .row
          .span12
            .pull-left
              &copy; 2012 -
              %a{href: 'http://adambachman.org'} Adam
              and
              %a{href: 'http://ngauthier.com'} Nick

            .pull-right
              %ul.nav.nav-pills
                %li{class: active_if_current(root_path)}= link_to 'home', root_path
                %li{class: active_if_current(socket_demo_path)}= link_to 'socket-demo', socket_demo_path
                %li{class: active_if_current(game_demo_path)}= link_to 'game-demo', game_demo_path
    = yield :foot

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32530159-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
